.wrap{
  background: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}
.left{
  & a{
    color: blue;
    font-weight: bold;
    text-decoration: none;
    &:hover{
      color: red;
    }
  }
}
.right{
  text-align: right;
}
.menu{
  & a{
    color: #000;
  }
}