.wrap{
  background: blue;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 20px;
}
.left{
  & a{
    color: #fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.right{
  padding-left: 20px;
  text-align: right;
}