.wrap{
  background: #ddd;
  border: 10px solid #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  font-weight: bold;
  font-size: 2rem;
}